@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p><img src="img/images/Amble Footwears Logo (1).png" alt="Cantor atrium" width="1200" height="400"></p>


<div class="text-center">
    <h1 class="display-4">Welcome To Amble Footwears</h1>
</div>


