@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<p><img src="img/images/Amble Footwears Logo (1).png" alt="Cantor atrium" width="1200" height="400"></p>


<div class="text-center">
    <h1 class="display-4">Welcome To Amble Footwears</h1>
</div>

<div id="row">
    <div id="column">
        <img src="~/img/images/poster.jpg" alt="homeImage" width="500" height="350">
    </div>
    <div id="column">
        <h4>New Era, New Designs</h4>
    </div>

    <div id="column">
        <img src="~/img/images/sideimg.jfif" alt="sideImage" width="500" height="350">
    </div>
    <div id="column">
        <h4>Get Your Pair Now!!</h4>
</div>


