@page
@model LoyaltySoftware.Pages.Member.ForgotPasswordModel
@{
}


<h1>Forgot Your Password?</h1>
<br />
<h3>Enter your Username to confirm your account</h3>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" asp-for="UserAccountRecord.username"class="form-control" />
                <p style="color: red">@Model.Message</p>
            </div>
            <div>
                <input type="submit" value="Confirm Account" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
