@page
@model LoyaltySoftware.Pages.Login.MemberDashboardModel
@{ }

<h1>Member Dashboard</h1>
<br />

<h3>Hello @Model.Username</h3>

<p><a asp-page="/Member/ProfilePage">View Profile </a></p>
<p><a asp-page="/Logout/Logout Page">Logout</a></p>