@page
@model LoyaltySoftware.Pages.Member.ResetPasswordModel
@{
}

<h1>Reset Your Password</h1>

<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">

            <div class="form-group">
                <p style = "color: green">Account Confirmed</p>
                <label class="control-label">Enter New Password</label>
                <input type="text" asp-for="UserAccountRecord.password" class="form-control" />
            </div>

            <div>
                <input type="submit" value="Reset" class="btn btn-primary" />
            </div>

        </form>
    </div>
</div>