@page
@model LoyaltySoftware.Pages.Register.DataProtectionModel
@{
}


<h1>Data Protection</h1>

<p>
 Under the <a href="https://www.legislation.gov.uk/ukpga/2018/12/contents/enacted"> Data Protection Act 2018</a>,
 we are required to make sure your information is
</p>

<ul>
 <li>used fairly, lawfully and transparently</li>
 <li>used for specified, explicit purposes</li>
 <li>used in a way that is adequate, relevant and limited to only what is necessary</li>
 <li>accurate and, where necessary, kept up to date</li>
 <li>kept for no longer than is necessary</li>
 <li>handled in a way that ensures appropriate security, including protection against unlawful or unauthorised processing, access, loss, destruction or damage</li>
</ul>

<p>By pressing continue, you are agreeing to our <em>terms and service</em>. </p>

<a asp-page="/Login/UserLogin" class="btn">Continue</a>