/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #e5e5e5;
}
.border-bottom {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

.boldtext{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
}

.header{
    background: radial-gradient(#fff, #ffd6d6);
}

.frontImage{
    flex-basis: 50%;
    min-width: 300px;
}

.frontImage img{
    max-width: 100%;
    padding: 50px 0;
}

.heading{
    align-items: center;
    text-align: center;
}

.col-1{
    margin: 70px 0;
}

.product-container {
 display: grid;
 grid-template-columns: auto auto;
 text-align: center;
}
.product {
 max-width: 250px;
 margin-left: 80px;
 margin-bottom: 30px;
}

.product-image{
    height: 200px;
    width: 300px;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
  display: flex;
}

.column {
  flex: 33.33%;
  padding: 5px;
}

.header2{
    background: radial-gradient(#fff, #ffe4b5);
}

.bigOffer{
    background: radial-gradient(#fff, #fffacd);
}

.btn{
    text-align: center;
    align-items: center;
    margin: auto;
}

