@page
@model LoyaltySoftware.Pages.Shop.ShopModel
@{
}

<div class="header">

<h1>Browse Products</h1>

<div class="header">

<div class="boldtext">
	<h2>Give Your Style<br>
	A huge Jump!!</h2>
</div>

<div class="imageForFront">
	<p><img src="img/images/sampleimage(1).png" alt="shoe"></p>
	<a href="" class="btn">Browse Now</a>
</div>

</div>

<div class="productSections">
	<div class="row">
		<div class="col-1">
