@page
@model LoyaltySoftware.Pages.Admin.Confirmation.ConfirmRevokeModel
@{
}

<h1>Member Account has been revoked successfully</h1>

<p><a asp-page="/Admin/AdminDashboard">Return to Dashboard</a></p>