@page
@model LoyaltySoftware.Pages.Admin.Confirmation.ConfirmActivateModel
@{
}


<h1>Member Account has been re-activated successfully</h1>

<p><a asp-page="/Admin/AdminDashboard">Return to Dashboard</a></p>