@page
@model LoyaltySoftware.Pages.Rewards.NotEnoughPointsToClaimModel
@{
}

<h1>You don't have enough points to claim this reward!</h1>

<div><a asp-page="/Rewards/BrowseRewards">Return To Rewards</a></div>