@page
@model LoyaltySoftware.Pages.AdminPages.AdminDashboardModel
@{ }
<h1>Admin Dashboard</h1>

<br />
<p><a asp-page="/Admin/Suspend">Suspend Member Account</a></p>
<p><a asp-page="/Admin/Activate">Activate Member Account</a></p>
<p><a asp-page="/Admin/Revoke">Revoke Member Account</a></p>
<br />
<br />
<p><a asp-page="/Logout/Logout Page">Logout</a></p>