@page
@model LoyaltySoftware.Pages.Admin.SuspendModel
@{
}


<h1> Suspend Member Account</h1>


<br />

<h2> Enter the username of the member that you would like to suspend</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label class="control-label">Username</label>
                <input type="text" asp-for="UserAccountRec.username" class="form-control" name="suspend"/>
                <p style="color: red">@Model.Message</p>
            </div>
            <div>
                <input type="submit" value="Suspend Member" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>
